@import 'bourbon';
@import 'ui';
@import 'reset';
@import 'maps';
@import 'flexbox';

.calendar {
  backgroun: blue!important;
  height: 720px;
  font-family: arial;
  padding: 20px 10px;
  &--events {
    width: 620px; //using box-sizing: border box; so padding won't effect width
    background: map-get($background-color, light);
    padding: 0 10px;

    &__inner {
      width: 100%;
      position:relative;
    }

    &__item {
      display: inline-block;
      position: absolute;
      background: $base-white;
      padding: 5px;
      border-left: 3px solid map-get($ui-color, brand);
      box-shadow: map-get($shadow, light);
    }
  }
  &--times {

    &__item {
      height: (720 / 24) + px;
      position: relative;
      margin: 0 10px;
      text-align: right;
      color: map-get($font-color, medium);

      &:first-child {
         margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        font-weight: map-get($font-weight, bold);
        .calendar--times__time {
          position: relative;
          top: -5px;
          font-size: 2em;
        }
      }

      &:nth-child(even) {
        font-size: 1.2em;
      }

    }

    &__period {
      margin-left: 5px;
      vertical-align: top;
      text-transform: uppercase;
      font-size: 1.2em;
    }

  }

}
